include molecules/head
include molecules/list-element

doctype html
html(lang="en")
  +head
  body
    header
      figure
        include images/flourish-ornamental.svg
        figcaption A flourish ornamental
      h1 Movement For Our Future
    main
      ol
        +list-element('Stop hate', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquid at debitis nam nemo possimus rem sapiente! Alias aspernatur atque cum deleniti facere hic labore molestias nisi odit, omnis praesentium sed tempora veritatis. Aspernatur, commodi consectetur corporis culpa delectus ducimus eaque eius eligendi eos esse facilis fuga incidunt inventore ipsam iste maxime nam necessitatibus nihil quibusdam ratione repellendus repudiandae, sed totam, ullam vel vero voluptatem. Amet aspernatur consectetur eligendi fugit ipsam, magni maxime nisi nostrum placeat possimus quis repellat voluptatem voluptatum? Eum inventore voluptates voluptatum. Aliquid amet dolorum ducimus earum ex id, ipsa libero minima obcaecati repudiandae voluptas voluptate voluptatum?')
        +list-element('Invesments in IT and Health', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquid at debitis nam nemo possimus rem sapiente! Alias aspernatur atque cum deleniti facere hic labore molestias nisi odit, omnis praesentium sed tempora veritatis. Aspernatur, commodi consectetur corporis culpa delectus ducimus eaque eius eligendi eos esse facilis fuga incidunt inventore ipsam iste maxime nam necessitatibus nihil quibusdam ratione repellendus repudiandae, sed totam, ullam vel vero voluptatem. Amet aspernatur consectetur eligendi fugit ipsam, magni maxime nisi nostrum placeat possimus quis repellat voluptatem voluptatum? Eum inventore voluptates voluptatum. Aliquid amet dolorum ducimus earum ex id, ipsa libero minima obcaecati repudiandae voluptas voluptate voluptatum?')
        +list-element('Base living kit')
    footer
      figure
        include images/flourish-ornamental.svg
        figcaption A flourish ornamental
